 Cython==3.0.8  # Utiliser une version récente et compatible
 alpaca-trade-api==1.4.2
 requests==2.31.0
 plyer==2.1.0
 Flask==3.0.0
 yfinance==0.2.36
 pandas==2.2.0
 plotly==5.18.0
 python-dotenv==1.0.0
 logging
 PyYAML==5.4.1
